<div class="row center">
  <h1 class="bold">What you want now ?</h1>
</div>
<div class="row">
 <div class="col-md-2"></div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/movie">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/movie-512.png" alt="Movies">
        <div class="caption">
          <h5 class="center ellipsis">Movies</h5>
          <p class="center ellipsis">Collection Of Awsome Movie List For You.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/tv">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/tv-512.png" alt="TV Show">
        <div class="caption">
          <h5 class="center ellipsis">Tv Shows</h5>
          <p class="center ellipsis">Collection Of Awsome Tv Shows For You.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/music">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/music-512.png" alt="Music">
        <div class="caption">
          <h5 class="center ellipsis">Music</h5>
          <p class="center ellipsis">Collection Of Awsome Music For You.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/podcast">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/podcast-512.png" alt="Podcast">
        <div class="caption">
          <h5 class="center ellipsis">Podcast</h5>
          <p class="center ellipsis">Collection Of Awsome Podcasts For You.</p>
        </div>
      </div>
    </a>
  </div>
 <div class="col-md-2"></div>
</div>