<div class="row jumbotron center" style="background: white;">
  <h1 class="bold">Categories</h1>
  <h4>Show Me Movies That Are</h4>
  <div>
    <a href="#/movie">
      <div class="col-xs-2">
        <img style="width: 100%;" src="images/start.png" alt="Movies">
      </div>
      <div class="col-xs-10">
        <h5 class="ellipsis">Start Here</h5>
        <p class="ellipsis">Different ways to checkout movies.</p>
      </div>
    </a>
  </div>
</div>
<div class="row jumbotron center">
  <h1 class="bold">Categories</h1>
  <h4>Show Me Movies That Are</h4>
</div>
<div class="row jumbotron center" style="background: white;">
  <h1 class="bold">Categories</h1>
  <h4>Show Me Movies That Are</h4>
</div>