<div class="row center">
  <h1 class="bold">What you want now ?</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/movie">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/start.png" alt="Movies">
        <div class="caption">
          <h5 class="center ellipsis">Start Here</h5>
          <p class="center ellipsis">Different ways to checkout movies.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/movie/list/discover/popularity.desc">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/discover.png" alt="Discover">
        <div class="caption">
          <h5 class="center ellipsis">Discover</h5>
          <p class="center ellipsis">Different ways to checkout movies.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/list">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/list.png" alt="Lists">
        <div class="caption">
          <h5 class="center ellipsis">Lists</h5>
          <p class="center ellipsis">Awesome movie curated by experts.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/trend">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/trend.png" alt="Trends">
        <div class="caption">
          <h5 class="center ellipsis">Trends</h5>
          <p class="center ellipsis">What people want on TMJ.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/user">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/user.png" alt="You">
        <div class="caption">
          <h5 class="center ellipsis">You</h5>
          <p class="center ellipsis">Movies you are intrested in.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-2">
    <a href="#/feed">
      <div class="thumbnail">
        <img style="width: 100%;" src="images/feed.png" alt="Feed">
        <div class="caption">
          <h5 class="center ellipsis">Feed</h5>
          <p class="center ellipsis">Buzz going around movies.</p>
        </div>
      </div>
    </a>
  </div>
</div>
<hr />
<div class="row center">
   <h2 class="bold well">People watched these movies recently</h2>
    <div class="col-sm-4 col-md-3 col-lg-2" style="height: 440px;" data-ng-repeat="movie in MovieWatched track by $index">
        <div class="thumbnail">
            <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
               <div style="height: 275px; overflow: hidden;">
                    <img style="width: 100%;" src="{{'http://image.tmdb.org/t/p/w185' + movie.poster_path}}" alt="{{movie.title}}">
                </div>
                <div class="caption">
                    <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                    <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                    <p class="center ellipsis">{{movie.release_date}}</p>
                </div>
            </a>
            <div class="center">
                <div class="btn-group" style="margin-top: -20px;">
                    <button class="movieWatchlist btn {{movie.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie)"></button>
                    <button class="movieWatched btn {{movie.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, movie)"></button>
                    <button class="movieLiked btn {{movie.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, movie)"></button>
                    <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, movie)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row"><a href="#/trend/MovieWatched" class="btn btn-success full-width"><h4 class="white">More...</h4></a></div>
<hr />
<div class="row center">
   <h2 class="bold well">People are liking these movies</h2>
    <div class="col-sm-4 col-md-3 col-lg-2" style="height: 440px;" data-ng-repeat="movie in MovieLiked track by $index">
        <div class="thumbnail">
            <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
               <div style="height: 275px; overflow: hidden;">
                    <img style="width: 100%;" src="{{'http://image.tmdb.org/t/p/w185' + movie.poster_path}}" alt="{{movie.title}}">
                </div>
                <div class="caption">
                    <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                    <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                    <p class="center ellipsis">{{movie.release_date}}</p>
                </div>
            </a>
            <div class="center">
                <div class="btn-group" style="margin-top: -20px;">
                    <button class="movieWatchlist btn {{movie.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie)"></button>
                    <button class="movieWatched btn {{movie.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, movie)"></button>
                    <button class="movieLiked btn {{movie.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, movie)"></button>
                    <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, movie)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row"><a href="#/trend/MovieLiked" class="btn btn-warning full-width"><h4 class="white">More...</h4></a></div>
<hr />
<div class="row center">
   <h2 class="bold well">People want to watch these movies</h2>
    <div class="col-sm-4 col-md-3 col-lg-2" style="height: 440px;" data-ng-repeat="movie in MovieWatchList track by $index">
        <div class="thumbnail">
            <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
               <div style="height: 275px; overflow: hidden;">
                    <img style="width: 100%;" src="{{'http://image.tmdb.org/t/p/w185' + movie.poster_path}}" alt="{{movie.title}}">
                </div>
                <div class="caption">
                    <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                    <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                    <p class="center ellipsis">{{movie.release_date}}</p>
                </div>
            </a>
            <div class="center">
                <div class="btn-group" style="margin-top: -20px;">
                    <button class="movieWatchlist btn {{movie.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie)"></button>
                    <button class="movieWatched btn {{movie.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, movie)"></button>
                    <button class="movieLiked btn {{movie.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, movie)"></button>
                    <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, movie)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row"><a href="#/trend/MovieWatchList" class="btn btn-info full-width"><h4 class="white">More...</h4></a></div>