<link href="css/signin.css" rel="stylesheet">
<div>
	<form class="form-signin thumbnail" id="loginForm" data-ng-submit="register()">
		<h1 class="form-signin-heading">Register</h1>
		<div data-ng-if="isError" class="alert alert-dismissible alert-danger">
			<strong>Oh snap!</strong> {{errorMessage}}
		</div>
		<div>
			<label for="inputEmail" class="sr-only">Name</label>
			<input data-ng-model="name" id="name" type="text" name="text" class="form-control" placeholder="Name" required autofocus>
		</div>
		<div>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input data-ng-model="email" id="email" type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
		</div>
		<div>
			<label for="inputPassword" class="sr-only">Password</label>
			<input data-ng-model="password" id="password" type="password" name="password" class="form-control" placeholder="Password" required>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-lg btn-primary btn-block" type="button" data-ng-click="register()">Register</button>
			</div>
			<div class="col-xs-12">
				<input class="btn btn-lg btn-link btn-block" type="button" data-ng-click="login()" value="Log in" />
			</div>
		</div>
	</form>
</div>