<div class="row center">
    <a href="#/logout" class="btn btn-danger right">Logout</a>
	<h1 class="bold ellipsis">Hello {{username}}</h1>
   <hr />
    <h3><span class="bold left">Level : </span>{{level | number:0}}</h3>
    <div class="progress">
        <div class="progress-bar" style="width: {{levelPercent}}%;"></div>
    </div>
    <h3><span class="bold left">{{remaining}} Movies to go</span> For Level {{level + 1}}</h3>
	<hr />
	<div class="col-xs-6 col-sm-4">
		<a href="#/user/movie/MovieWatchList">
			<div class="full-width btn btn-success">
				<h1 class="bold white">{{MovieWatchList}}</h1>
				<div class="caption">
					<h5 class="center ellipsis white">Movies in Watchlisted</h5>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4">
		<a href="#/user/movie/MovieWatched">
			<div class="full-width btn btn-info">
				<h1 class="bold white">{{MovieWatched}}</h1>
				<div class="caption">
					<h5 class="center ellipsis white">Movies Watched</h5>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-4">
		<a href="#/user/movie/MovieLiked">
			<div class="full-width btn btn-warning">
				<h1 class="bold white">{{MovieLiked}}</h1>
				<div class="caption">
					<h5 class="center ellipsis white">Movies Liked</h5>
				</div>
			</div>
		</a>
	</div>
</div>
<hr />
<div class="row">
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{(MovieWatchList)/(total) * 100}}%"></div>
        <div class="progress-bar progress-bar-info" style="width: {{(MovieWatched)/(total) * 100}}%"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{(MovieLiked)/(total) * 100}}%"></div>
    </div>
</div>
<hr />
<div class="center">
   <h3>Out Of <span class="bold left">{{MovieWatched}}</span> Movies</h3>
	<div class="col-xs-6 col-sm-3 no-margin no-padding" ng-repeat="genre in genreList track by $index">
		<a href="#/user/movie/MovieWatched/{{genre.id}}">
			<div class="full-width btn btn-{{genre.theme}}">
				<h1 class="bold white">{{genre.count | number: 0}}%</h1>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-default" style="width: {{genre.count}}%;"></div>
                </div>
				<div class="caption">
					<h5 class="center ellipsis white"><span class="bold left">{{genre.name}}</span></h5>
				</div>
			</div>
		</a>
	</div>
</div>