<div>
    <div class="row">
        <h1 class="bold center">{{people.name}}</h1>
        <hr />
        <div class="col-sm-3">
            <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{people.profile_path}}" alt="movie.name">
        </div>
        <div class="col-sm-9">
            <div class="row center">
                <h1 class="bold" style="font-size: 10em;">{{people.popularity | number:2}} %</h1>
                <h3 class="center">{{people.place_of_birth}}</h3>
            </div>
        </div>
    </div>
   <hr />
   <blockquote><p>{{people.biography}}</p></blockquote>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Birthday</h3>
            <h5 class="center">{{people.birthday}}</h5>
        </div>
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Deathday</h3>
            <h5 class="center">{{people.deathday}}</h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <a target="_blank" href="http://www.imdb.com/name/{{people.imdb_id}}" class="btn btn-warning full-width" title="Watch Trailer">IMDB</a>
        </div>
        <div class="col-xs-6">
            <a target="_blank" href="{{people.homepage}}" class="btn btn-default full-width" title="Watch Trailer">Home Page</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2 class="bold center">KNOWN FOR</h2>
        <a class="btn btn-success full-width" href="#/movie/list/discover/revenue.desc//1/{{people.id}}">discover {{people.name}}</a>
        <hr />
        <div class="col-sm-4 col-md-3 col-lg-2" style="height: 440px;" data-ng-repeat="movie in movies track by $index">
            <div class="thumbnail">
                <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
                   <div style="height: 275px; overflow: hidden;">
                        <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{movie.title}}">
                    </div>
                    <div class="caption">
                        <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                        <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                        <p class="center ellipsis">{{movie.release_date}}</p>
                    </div>
                </a>
                <div class="center">
                    <div class="btn-group" style="margin-top: -20px;">
                        <button class="movieWatchlist btn {{movie.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie)"></button>
                        <button class="movieWatched btn {{movie.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, movie)"></button>
                        <button class="movieLiked btn {{movie.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, movie)"></button>
                        <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, movie.id)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>