<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2" data-ng-repeat="movie in movies track by $index">
        <div class="thumbnail">
            <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
               <div style="height: 275px; overflow: hidden;">
                    <h1 class="center">{{$index}}</h1>
                </div>
                <div class="caption">
                    <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                    <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                    <p class="center ellipsis">{{movie.release_date}}</p>
                </div>
            </a>
        </div>
    </div>
</div>