<div>
    <div class="row">
        <h1 class="bold center">{{movie.title}}</h1>
        <div class="col-sm-3">
            <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="movie.title">
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6 center">
                    <h1 class="bold" style="font-size: 10em;">{{movie.vote_average}}</h1>
                  <hr />
                   <div class="col-xs-4">
                        <button id="movieWatchlist" style="height: 80px; width: 80px;" class="btn btn-success round-button glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist(-1, movie.id, '', movie.name, movie.poster_path)"></button>
                   </div>
                   <div class="col-xs-4">
                        <button id="movieWatched" style="height: 80px; width: 80px;" class="btn btn-info round-button glyphicon glyphicon-ok" title="Add To Watched" data-ng-click="watched(-1, movie.id, '', movie.name, movie.poster_path)"></button>
                   </div>
                   <div class="col-xs-4">
                        <button style="height: 80px; width: 80px;" class="btn btn-primary round-button glyphicon glyphicon-play" title="Watch Trailer"></button>
                   </div>
                <hr />
                </div>
                <div class="col-sm-6">
                   <hr />
                   <blockquote><h6 class="bold center">"{{movie.tagline}}"</h6></blockquote>
                    <h5><strong>Released : </strong>{{movie.release_date}}</h5>
                    <h5><strong>Runtime : </strong>{{movie.runtime}} min</h5>
                    <a target="_blank" href="{{movie.homepage}}" class="btn btn-default full-width" title="Watch Trailer">Home Page</a>
                    <hr />
                    <a target="_blank" href="http://www.imdb.com/title/{{movie.imdb_id}}" class="btn btn-warning full-width" title="Watch Trailer">IMDB</a>
                </div>
            </div>
            <blockquote class="row">
               <h3 class="bold">Genres</h3>
                <div class="col-sm-3" ng-repeat="genre in movie.genres">
                    <a href="#/movie/list/genre/{{genre.id}}" class="btn btn-primary full-width" title="{{genre.name}}">{{ genre.name}}</a>
                </div>
            </blockquote>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h3 class="bold center">Budget</h3>
            <h5 class="center">${{movie.budget}}</h5>
        </div>
        <div class="col-xs-6">
            <h3 class="bold center">Revenue</h3>
            <h5 class="center">${{movie.revenue}}</h5>
        </div>
    </div>
    <hr />
    <div class="row">
       <h3 class="bold center">Plot</h3>
        <blockquote>
            <p class="justified">{{movie.overview}}</p>
        </blockquote>
    </div>
    <hr />
    <div class="row">
        <h2 class="bold center">SIMILAR MOVIES</h2>
        <div class="col-xs-6 col-sm-4 col-md-3" data-ng-repeat="movie in movies track by $index">
            <div class="thumbnail">
                <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
                   <div style=" height: 400px; overflow: hidden;">
                        <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{movie.title}}">
                    </div>
                    <div class="caption">
                        <h4 class="center ellipsis" title="{{movie.name}}">{{movie.title}}</h4>
                        <p class="center ellipsis">{{movie.title}}</p>
                    </div>
                </a>
                <div class="center">
                    <div class="btn-group">
                        <button class="movieWatchlist btn btn-success glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie.id, '', movie.name, movie.poster_path)"></button>
                        <button class="movieWatched btn btn-info glyphicon glyphicon-ok" data-ng-click="watched($index, movie.id, '', movie.name, movie.poster_path)"></button>
                        <button class="btn btn-primary glyphicon glyphicon-play"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="bold center">CAST</h2>
        <div class="col-md-2" data-ng-repeat="cast in casts">
            <div class="thumbnail">
                <a href="#/people/view/{{cast.id + '/' + cast.title}}">
                   <div style=" height: 200px; overflow: hidden;">
                        <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{cast.profile_path}}" alt="{{cast.name}}">
                    </div>
                    <div class="caption">
                        <h4 class="center ellipsis" title="{{cast.name}}">{{cast.name}}</h4>
                        <h6 class="center ellipsis">As : {{cast.character}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>