<div>
    <div class="row">
        <h1 class="bold center">{{movie.title}}</h1>
        <hr />
        <div class="col-sm-3">
            <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="movie.title">
        </div>
        <div class="col-sm-9">
            <div class="row center">
                <h1 class="bold" style="font-size: 10em;">{{movie.vote_average}}</h1>
               <div class="col-xs-3">
                    <button id="movieWatchlist" style="height: 60px; width: 60px;" class="btn {{movie.watchlistClass}} round-button glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist(-1,movie)"></button>
               </div>
               <div class="col-xs-3">
                    <button id="movieWatched" style="height: 60px; width: 60px;" class="btn {{movie.watchedClass}} round-button glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched(-1,movie)"></button>
               </div>
               <div class="col-xs-3">
                    <button id="movieLiked" style="height: 60px; width: 60px;" class="btn {{movie.likedClass}} round-button glyphicon glyphicon-heart" title="Watch Trailer"  data-ng-click="like(-1,movie)"></button>
               </div>
               <div class="col-xs-3">
                    <button style="height: 60px; width: 60px;" class="btn btn-primary round-button glyphicon glyphicon-play" title="Watch Trailer" data-ng-click="trailer(-1,movie)"></button>
               </div>
            </div>
            <hr />
            <blockquote class="row">
               <h3 class="bold">Genres</h3>
                <div class="col-sm-3" ng-repeat="genre in movie.genres">
                    <a href="#/movie/list/genre/{{genre.id}}" class="btn btn-primary full-width ellipsis" title="{{genre.name}}">{{ genre.name}}</a>
                </div>
            </blockquote>
        </div>
    </div>
   <hr />
   <blockquote><h6 class="bold center">{{'"' + movie.tagline + '"'}}</h6></blockquote>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Released</h3>
            <h5 class="center">{{movie.release_date}}</h5>
        </div>
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Runtime</h3>
            <h5 class="center">{{movie.runtime + ' min'}}</h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <a target="_blank" href="http://www.imdb.com/title/{{movie.imdb_id}}" class="btn btn-warning full-width" title="Watch Trailer">IMDB</a>
        </div>
        <div class="col-xs-6">
            <a target="_blank" href="{{movie.homepage}}" class="btn btn-default full-width" title="Watch Trailer">Home Page</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Budget</h3>
            <h5 class="center">{{'$' + movie.budget}}</h5>
        </div>
        <div class="col-xs-6">
            <h3 class="bold center ellipsis">Revenue</h3>
            <h5 class="center">{{'$' + movie.revenue}}</h5>
        </div>
    </div>
    <hr />
    <div class="row">
       <h3 class="bold center">Plot</h3>
        <blockquote>
            <p class="justified">{{movie.overview}}</p>
        </blockquote>
    </div>
    <hr />
    <div class="row">
        <h2 class="bold center">SIMILAR MOVIES</h2>
        <div class="col-sm-4 col-md-3 col-lg-2" style="height: 440px;" data-ng-repeat="movie in movies track by $index">
            <div class="thumbnail">
                <a href="#/movie/view/{{movie.id + '/' + movie.title}}">
                   <div style="height: 275px; overflow: hidden;">
                        <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{movie.title}}">
                    </div>
                    <div class="caption">
                        <div style="margin-top: -40px; opacity: 0.9;" class="center"><button style="height:60px; width:60px; font-size: 1.5em;" class="btn btn-success bold round-button">{{movie.vote_average}}</button></div>
                        <h4 class="center ellipsis" title="{{movie.title}}">{{movie.title}}</h4>
                        <p class="center ellipsis">{{movie.release_date}}</p>
                    </div>
                </a>
                <div class="center">
                    <div class="btn-group" style="margin-top: -20px;">
                        <button class="movieWatchlist btn {{movie.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, movie)"></button>
                        <button class="movieWatched btn {{movie.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, movie)"></button>
                        <button class="movieLiked btn {{movie.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, movie)"></button>
                        <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, movie.id)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="bold center">CAST</h2>
        <div class="col-sm-4 col-md-3 col-lg-2" style="height: 320px;" data-ng-repeat="cast in casts">
            <div class="thumbnail">
                <a href="#/people/view/{{cast.id + '/' + cast.title}}">
                   <div style="height: 200px; overflow: hidden;">
                        <img style="width: 100%;" src="http://image.tmdb.org/t/p/w185{{cast.profile_path}}" alt="{{cast.name}}">
                    </div>
                    <div class="caption">
                        <h4 class="center ellipsis" title="{{cast.name}}">{{cast.name}}</h4>
                        <h6 class="center ellipsis">As : {{cast.character}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>