<style>
.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; bottom: 10px; background: #000; opacity: 0.5;}
</style>
<div class="row">
    <div class="col-sm-6 no-margin no-padding" data-ng-repeat="list in movieList track by $index">
        <div class="imageAndText" style="height: 275px; overflow: hidden;">
           <a href="#/list/view/{{list.id}}">
                <img src="{{list.image}}" style="min-height: 100%; min-width: 100%; align-center: true;" alt="{{list.name}}" onError="this.onerror=null;this.src='images/logo-512.png';" />
                <div class="col">
                    <div class="col-sm-12">
                        <h3 class="bold white center">{{list.name}}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>