<div class="row center">
    <div class="col-sm-3">
        <div data-ng-if="isMovieSnapShown" class="thumbnail no-margin" style="background-image: url('{{'http://image.tmdb.org/t/p/w185' + search.poster_path}}');background-size:100%; height:90px;">
            <a href="#/movie/view/{{search.id + '/' + search.title}}">
                <div class="caption">
                    <h4 class="center ellipsis white" title="{{search.title}}">{{search.title}}</h4>
                    <p class="center ellipsis white">{{search.release_date}}</p>
                </div>
            </a>
            <div class="center">
                <div class="btn-group" style="margin-top: -20px;">
                    <button class="movieWatchlist btn {{search.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index, search)"></button>
                    <button class="movieWatched btn {{search.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index, search)"></button>
                    <button class="movieLiked btn {{search.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index, search)"></button>
                    <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index, search)"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
     <form  data-ng-submit="updateStatus()">
         <input autocomplete="off" id="statusText" data-ng-keyup="fillAutoComplete()" class="full-width" list="moviesAutocomplete" data-ng-model="statusText" style="padding: 20px; font-size: 2em;" type="text" placeholder="What are watching now ?">
     </form>
    </div>
</div>
<hr />
<blockquote data-ng-repeat="comment in comments track by $index">
    <div class="row">
        <div class="round-button btn btn-info center center-vertical" style="height: 50px; width: 50px;"><h6 class="bold white">{{username.split('')[0] | uppercase}}</h6></div>
        <a href="#user/{{comment.username}}">{{comment.username.split('@')[0]}}</a>{{comment.postAction}}<a href="#/movie/view/{{comment.tmdb_id + '/' + comment.title}}">{{'  '+comment.title}}</a><hr/>
         <div class="col-sm-3">
             <div class="thumbnail no-margin" style="background-image: url('{{'http://image.tmdb.org/t/p/w185' + comment.poster_path}}');background-size:100%;">
                <a href="#/movie/view/{{comment.tmdb_id + '/' + comment.title}}">
                    <div class="caption">
                        <h4 class="center ellipsis white" title="{{comment.title}}">{{comment.title}}</h4>
                        <p class="center ellipsis white">{{comment.release_date}}</p>
                    </div>
                </a>
                <div class="center">
                    <div class="btn-group" style="margin-top: -20px;">
                        <button class="movieWatchlist btn {{comment.watchlistClass}} glyphicon glyphicon-plus" title="Add To Watchlist" data-ng-click="watchlist($index+1, comment)"></button>
                        <button class="movieWatched btn {{comment.watchedClass}} glyphicon glyphicon-ok" title="Mark As Watched" data-ng-click="watched($index+1, comment)"></button>
                        <button class="movieLiked btn {{comment.likedClass}} glyphicon glyphicon-heart" title="Like This" data-ng-click="like($index+1, comment)"></button>
                        <button class="btn btn-primary glyphicon glyphicon-play" title="Play Trailer" data-ng-click="trailer($index+1, comment)"></button>
                    </div>
                </div>
            </div>
         </div>
         <blockquote class="col-sm-9">
            <div class="col-xs-12">
                <p ng-if="comment.canLike">{{comment.text}}</p>
                <small>{{comment.updatedAt}}</small>
            </div>
            <div ng-if="comment.canLike" class="col-xs-12">
                 <button class="btn btn-link glyphicon glyphicon-thumbs-up" title="Like" data-ng-click="upvote($index,comment.id)"></button><span class="likedBy ellipsis"> {{comment.voted_by}}</span>
            </div>
         </blockquote>
     </div>
</blockquote>